@page "/identity/changePassword"
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<MudTabs Elevation="25" Color="Color.Transparent" Rounded="true" PanelClass="mt-6">
    <MudTabPanel Text="Cambia Password">
        <MudGrid>
            <MudItem xs="8" sm="8" md="8">

                <EditForm Model="@Data" OnValidSubmit="HandleSubmit" FormName="change-password-form" Context="form">
                    <FluentValidator />

                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                @* <MudText>Cambia Password</MudText> *@
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>

                                @if (RendererInfo.IsInteractive)
                                {
                                    <MudItem xs="6" md="6">
                                        <MudTextField @bind-Value="Data.CurrentPassword" Variant="Variant.Outlined" Label="Password Attuale" InputType="InputType.Password" />
                                    </MudItem>
                                    <MudFlexBreak></MudFlexBreak>
                                    <MudItem xs="6" md="6">
                                        <MudTextField @bind-Value="Data.NewPassword" Variant="Variant.Outlined" Label="Nuova Password" InputType="InputType.Password" />
                                    </MudItem>
                                    <MudItem xs="6" md="6">
                                        <MudTextField @bind-Value="Data.ConfirmPassword" Variant="Variant.Outlined" Label="Conferma Password" InputType="InputType.Password" />
                                    </MudItem>
                                }
                                else
                                {
                                    @* <MudStaticTextField @bind-Value="Data.CurrentPassword" Variant="Variant.Outlined" />
                                       <MudStaticTextField @bind-Value="Data.NewPassword" Variant="Variant.Outlined" /> *@
                                }

                                <MudItem xs="6" md="6">
                                    <MudCard Class="pa-5" Elevation="0">
                                        <ValidationSummary />
                                    </MudCard>

                                    @foreach (var message in ErrorMessages)
                                    {
                                        <MudAlert Severity="Severity.Info">
                                            <span>@message</span>
                                        </MudAlert>
                                    }
                                </MudItem>

                            </MudGrid>
                        </MudCardContent>

                        <MudCardActions Class="pb-4 pl-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="ml-auto">Cambia Password</MudButton>
                        </MudCardActions>
                    </MudCard>
                </EditForm>

            </MudItem>
        </MudGrid>
    </MudTabPanel>
</MudTabs>



